.bio-div{
  background: var(--texture);
  padding-top: 50px;
  height: 1000px;
}

.inner-bio-div {
  display: grid;
  grid-template-columns: 4vw 1fr 4vw;
  grid-template-areas:
    "arrowL display arrowR";
  align-items: center;
}

.arrow {
  font-size: 3rem;
  justify-self: center;
  color: var(--greenALT);
}

.arrow :hover{
  opacity: .7;
  cursor: pointer;
}

.left-arrow {
  grid-area: arrowL;
  margin-left: 100px;
  z-index: 90;
}

.right-arrow {
  grid-area: arrowR;
  margin-right: 100px;
  z-index: 90;
}

.display-bio {
  grid-area: display;
}

.bio-frame {
  grid-area: bio;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.inner-bio {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "bio-pic" 
    "bio-text";
  border: 5px solid var(--white);
  border-radius: 25px;
  margin: 50px;
  width: 70vw;
  height: 800px;
  box-shadow: 0 0 20px var(--dark);
  background: var(--white);
}

@media only screen and (max-width:1130px) {
  .bio-div{
    height: 1200px;
  }

  .inner-bio {
    height: 1000px;
  }
}

.bio-pic {
  grid-area: bio-pic;
  width: 100%;
  height: 100%;
  margin-bottom: -30px;
  margin-top: -100px;
  z-index: 1;
}

.bio-img {
  width: 250px;
  height: 250px;
  background: var(--white);
  box-shadow: 0 0 50px var(--grey);
  border-radius: 50%;
  object-fit: cover;
}

.bio-text {
  grid-area: bio-text;
  display: grid;
  padding: 50px;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  grid-template-areas:
    "bio-name"
    "bio-title"
    "bio-inner-text"
    "bio-certs";
}

.bio-name {
  grid-area: bio-name;
  color: var(--white);
  font-size: 3.5em;
  text-shadow: 3px 3px 3px var(--black);
  background: var(--green);
  font-family: 'Alfa Slab One', Arial, sans-serif;
  margin-bottom: 10px;
}

.bio-title {
  grid-area: bio-title;
  text-transform: uppercase;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 10px;
}

.bio-inner-text {
  grid-area: bio-inner-text;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 20px;
  padding: 0 30px;
  font-style: italic;
}

.bio-certs {
  grid-area: bio-certs;
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
}

.cert-title {
  text-transform: uppercase;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
  text-decoration: underline;
}

[state=bio-hidden] {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

[state=bio-active] {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

@media only screen and (max-width:900px) {
  .bio-div{
    height: 1400px;
  }

  .inner-bio {
    margin: 0;
    width: 90vw;
    height: 1250px;
  }

  .bio-text {
    padding: 10px;
  }

  .bio-pic {
    margin-bottom: 0;
    z-index: 1;
  }

  .bio-img {
    width: 180px;
    height: 180px;
  }

  .bio-inner-text {
    padding: 0;
  }

}