.footer {
  display: grid;
  height: 15vh;
  background-color: var(--black);
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr;
  grid-template-areas:
    "footer-top"
    "footer-bottom";
  padding: 20px;
  color: var(--white);
  width: 100%;
  justify-content: center;
}

.footer-top {
  grid-area: footer-top;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  width: 100%;
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .footer-top ul {
  display: inline-flex;
  list-style: none;
}

.footer-top ul li {
  margin: 0 20px;
} */

.footer-top img {
  max-width: 250px;
}

.footer-bottom {
  grid-area: footer-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 20px 0;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 1.5rem;
}

@media only screen and (max-width: 960px){
  .footer-top {
    grid-template-columns: 250px;
    grid-row-gap: 10px;
    grid-column-gap: 0;
  }
} 

.footer-logo {
  width: 100%;
}

