/* --------------- imports --------------- */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Great+Vibes');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');


/* --------------- root elements --------------- */
:root {
  --grey: #6C757C;
  --red: #FC0D1C;
  --black: #323232;
  --opaque: #323232aa;
  --dark: #1A1A1A;
  --opaque2: rgba(22, 23, 24, .85);
  --white: #F5F5F5;
  --green: #81C341;
  --greenHover: #81C341aa;
  --greenALT: #81C341aa;
  --GREENdient: linear-gradient(50deg, rgba(22, 23, 24, 1), rgba(129, 195, 65, .1), rgba(129, 195, 65, .5), rgba(129, 195, 65, 1));
  --GREENdientALT: linear-gradient(50deg, rgba(129, 195, 65, 1), rgba(129, 195, 65, .5), rgba(129, 195, 65, .1), rgba(22, 23, 24, 1));
}

/* --------------- main wrapper --------------- */
.wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas: 
  'header'
  'landing'
  'info'
  'schedule'
  'bio'
  'contact'
  'map'
  'footer';
}

.green-text{
  margin-bottom: 0;
  font-family: 'Great Vibes', Arial, Helvetica, serif;
  font-size: 1.8em;
  letter-spacing: 1.5px;
  text-shadow: 0 0 20px var(--white);
  color: var(--green);
}

.heading-text {
  font-size: 2.5em;
}

.background-text {
  background: var(--greenALT);
  padding: 5px 0;
  font-size: 1.8em;
}

/* --------------- header --------------- */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas: 
  "logo . icons";
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 5;
}

.logo-div{ 
  grid-area: logo;
  display: flex;
  width: 150px;
  height: 100%;
  align-items: center;
  padding-left: 25px;
}

.icon-div {
  grid-area: icons;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.icon-div a {
  color: var(--white);
}

.icon-div a:hover {
  color: var(--greenHover);
}

/* --------------- landing --------------- */
.landing-div {
  grid-area: landing;
  /* background-color: #252525;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23323232' fill-opacity='0.86' fill-rule='evenodd'/%3E%3C/svg%3E"); */
  background-color: #323232;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239a9a9a' fill-opacity='0.16' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.button{
  background-color: var(--green);
  margin: 0 5px;
  padding: 5px 25px;
  border: 1px solid var(--white);
  border-radius: 25px;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: initial;
  color: var(--white);
}

#isa {
  font-family: 'Alfa Slab One', sans-serif;
}

#fitness{
  font-family: 'Great Vibes', sans-serif;
}


/* --------------- form --------------- */
.form-button{
  background-color: var(--green);
  margin: 0 5px;
  padding: 5px 25px;
  border-radius: 25px;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid var(--black);
}

.form-button:hover {
  cursor: pointer;
  background-color: #81C341aa;
  border: 1px solid #81C341;
}

.form-link span i:hover {
  color: var(--black);
}

.form-heading a:hover{
  color: var(--black) !important;
}

/* --------------- thankYou --------------- */
.thank-you-div {
  display: flex;
  height: 78vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #252525;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23323232' fill-opacity='0.86' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.thank-you-div h1{
  font-size: 4.5rem;
  text-shadow: 0 0 40px var(--green);
  font-family: 'Alfa Slab One', Arial, sans-serif;
  color: var(--dark);
  letter-spacing: 2px;
}

.thank-you-div p{
  margin-bottom: 0;
  font-family: 'Great Vibes', Arial, Helvetica, serif;
  font-size: 1.8em;
  letter-spacing: 1.5px;
  text-shadow: 0 0 20px var(--white);
  color: var(--green);
}

.thank-you-div a i{
  color: var(--white);
  font-size: 3rem;
  padding-top: 10px;
}


